/* your styles go here */

.list-group-item {
    width: 250px;
    margin: 0;
}

.fa-sun-o {
    color: #06FB17;
    background: #06FB17;
    border-radius: 18px;
    cursor: pointer;
}

.center {
    margin-left: 41%;
}

#tablas {
    width: 107% !important;
    margin-left: -32px;
    margin-top: -40px;
    border: 2px solid #d0d0d0d0;
    border-radius: 4px;
    box-shadow: 0 0 8px #d0d0d0;
}

.titulo {
    margin: auto;
}

.subirArchivo {
    margin-top: 50px;
}

#tabla {
    margin-top: -120px;
}

.dataTables_length, .dataTables_filter {
    margin-top: 2px;
}

.dataTables_length {
    height: 30px;
}

.subir {
    margin-top: 19px;
}

.su {
    cursor: pointer;
}

.des {
    color: #FC190E;
    background: #FC190E;
    border-radius: 18px;
    cursor: pointer;
}

.list-group {
    width: 700px;
}

.main-footer {
    margin-top: 271px;
}

.page-header {
    height: 62px;
}

.version {
    margin-top: -22px;
}

.btnSalir {
    width: 115px;
    border: 1px solid #252AFC;
    color: #252AFC;
}

.btnSalir:hover {
    background: #252AFC;
}

.cursor {
    cursor: pointer;
}

.list-group-item:hover {
    text-decoration: none;
    background: #E1E0E0;
}

a:hover {
    text-decoration: none;
}

.id {
    width: 1200px;
}

.inputChat {
    border: none;
}

.dialog {
    display: none;
}

hr {
    border: 1px solid #F57F30;
}

#a {
    margin-top: -5px;
}


/*estilos de temaInduividual*/

.starAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/starpng.png) top left no-repeat;
    background-size: cover;
}

.star {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.barra {
    width: 150px;
    height: 30px;
    background: #EBEBEB;
    position: relative;
}

.top {
    margin-bottom: 1px;
}

.bg {
    float: left;
    height: 30px;
    width: 30px;
    background: linear-gradient(to bottom, #FEE24F, #F4BB2F);
}

.star.full {
    background: linear-gradient(to bottom, #FEE24F, #F4BB2F);
}

.titulo {
    font-size: 29px;
    color: #535252;
    margin-bottom: 2px;
}

.parrafo {
    color: #EB4747;
    border-bottom: 1px dotted #595959;
}

#output {
    padding: 10px;
    border: 2px solid #d0d0d0d0;
    border-radius: 4px;
    box-shadow: 0 0 8px #d0d0d0;
}

@media (max-width: 700px) {
    .version {
        display: none;
    }
    .list-group, .list-group-item, .row, .file, .table {
        width: 100%;
    }
}


}