/* your styles go here */

.list-group-item {
    width: 250px;
    margin: 0;
}

.fa-sun-o {
    color: #06FB17;
    background: #06FB17;
    border-radius: 18px;
    cursor: pointer;
}

.subirArchivo {
    margin-top: 50px;
}

#tabla {
    margin-top: -130px;
}

.subir {
    margin-top: 19px;
}

.su {
    cursor: pointer;
}

.des {
    color: #FC190E;
    background: #FC190E;
    border-radius: 18px;
    cursor: pointer;
}

.list-group {
    width: 700px;
}

.main-footer {
    margin-top: 271px;
}

.page-header {
    height: 62px;
}

.version {
    margin-top: -22px;
}

.btnSalir {
    width: 115px;
    border: 1px solid #252AFC;
    color: #252AFC;
}

.btnSalir:hover {
    background: #252AFC;
}

.cursor {
    cursor: pointer;
}

.list-group-item:hover {
    text-decoration: none;
    background: #E1E0E0;
}

a:hover {
    text-decoration: none;
}

.inputChat {
    border: none;
}

.dialog {
    display: none;
}

hr {
    border: 1px solid #F57F30;
}

#a {
    margin-top: -5px;
}

@media (max-width: 700px) {
    .version {
        display: none;
    }
    .list-group, .list-group-item, .row, .file, .table {
        width: 100%;
    }
}